*{
	margin:0 ;
	padding: 0;
	border: 0;
}
body {
	height: 100%;
}
body{
	overflow-X:hidden;
}

.container{
	margin:0;
}
.row{
	color:white;
	text-align:center;
	width:100vw;
}

h1{
	color:white;
	padding-top:2vh;
	margin:0;
	text-align:center;
}

.redbox{
	background:#E6567A;
	height:76vh;
}
.redbox button{
	background: transparent;
	border:2px solid white;
	border-radius:50%;
}
.redbox button img{
	width:50px;
	height:50px;
}
.orange{
	height:9vh;
	background:#34495E;	
}

.bluebox{
	background:#00C0E4;
	min-height:38vh;
}

.greenbox{
	background:#89E894;
	height:15vh;
}
.purplebox{
	background:#B8C9F1;
	min-height:38vh;
}
#recordIcon{
	display:block;
	margin:auto;
	margin-top:15vh;
}

#recordSubmit, #RunStepper, #StopStepper, #autoRecord, #playLastRecord{
	border: 2px solid white;
	background:transparent;
	border-radius:20px;
	color:white;
	width:150px;
	height:40px;
	margin-top:10px;
	transition: all 0.5s;
}
#recordSubmit:hover{
	background:white;
	color:#E6567A;
}
#RunStepper:hover, #StopStepper:hover{
	background:white;
	color:#00C0E4;
}
#autoRecord:hover{
	background:white;
	color:#B8C9F1;
}
#playLastRecord{
	margin-top:4vh;
}
#playLastRecord:hover{
	background:white;
	color:#89E894;
}

input, select, textarea{
    color: black;
}
